@charset "utf-8";
@import "normalize";

$open-sans: 'Open Sans', Roboto, Helvetica, Arial, sans;
$roboto: Roboto, Helvetica, Arial, sans;
$shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
$gray: #efeff1;
$blue: #c3d8e3;

$x_1: 1570px;
$x_2: 1230px;
$x_3: 1160px;
$x_4: 475px;
$x_t: 780px;

$map-width: 1000px;

.uber-viz {
  overflow: hidden;

  .uber-viz__summary-box, .uber-viz__map-graphic,
  .uber-viz__filter-bar, .uber-viz__stories-table {
    box-sizing: border-box;
  }
  @media(min-width: $x_2) {
    $w_left: 880px;
    $w_right: 330px;

    $gutter: 8px;
    $left_offset_a: -0.5 * ($w_right + $w_left + $gutter);
    $right_offset_a: $left_offset_a + $w_left + $gutter;
    $map_left_offset: -100px;

    .uber-viz__map-graphic {
      position: fixed;
      left: calc(50% + #{$left_offset_a + $map_left_offset});
      top: 60px;
      z-index: 200;
    }
    .uber-viz__filter-bar {
      position: fixed;
      left: calc(50% + #{$left_offset_a});
      width: $w_left;
      top: 20px;
    }
    .uber-viz__summary-box {
      position: fixed;
      width: $w_left;
      left: calc(50% + #{$left_offset_a});
      top: 500px;
      z-index: 300;
    }
    .uber-viz__stories-table {
      position: absolute;
      width: $w_right;
      top: 12px;
      margin: 0;
      left: calc(50% + #{$right_offset_a});
      z-index: 300;
    }
    @media(min-width: $x_1) {
      // room for twice as many cards on the right
      $w_right: 680px;

      $left_offset_a: -0.5 * ($w_right + $w_left + $gutter);
      $right_offset_a: $left_offset_a + $w_left + $gutter;

      .uber-viz__map-graphic {
        left: calc(50% + #{$left_offset_a + $map_left_offset});
      }
      .uber-viz__filter-bar {
        left: calc(50% + #{$left_offset_a});
      }
      .uber-viz__summary-box {
        left: calc(50% + #{$left_offset_a});
      }
      .uber-viz__stories-table {
        width: $w_right;
        left: calc(50% + #{$right_offset_a});
      }
    }
  }
  @media (max-width: $x_2){
    .uber-viz__map-graphic {
      position: relative;
      margin-top: 60px;
    }
    .uber-viz__filter-bar {
      position: fixed;
      width: 96%;
      left: 2%;
      top: 20px;
    }
    .uber-viz__stories-table {
      position: relative;
      width: 96%;
      left: 2%;
      margin-top: 20px;
    }
    .uber-viz__summary-box {
      width: 96%;
      margin: 80px 2% 0;
      overflow: hidden;
    }
  }
  @media(max-width: $x_t) {
    .uber-viz__summary-box {
      margin-top: 100px;
    }
  }
  @media(max-width: $x_4) {
    .uber-viz__summary-box {
      margin-top: 200px;
      height: 340px;
    }
  }
  .uber-viz__map-graphic {
    width: $map-width;
    height: 440px;
    margin-left: auto;
    margin-right: auto;

    @media(max-width: $map-width) and (min-width: $x_t) {
      left: calc(80% - 800px);
    }
    @media(max-width: $x_t) {
      margin: 0;
      transform: scale(0.7);
      transform-origin: left;
      left: calc(47% - 370px);
      top: 300px;
      position: absolute;
      z-index: 20;
      overflow: hidden;
    }
    @media(max-width: 600px) {
      transform: scale(0.6);
      left: calc(48% - 315px);
    }
    @media(max-width: $x_4) {
      transform: scale(0.4);
      left: calc(48% - 205px);
      top: 420px;
    }
  }
  .uber-viz__map-spacer{
    display: none;
    @media(max-width: $x_t) {
      display: block;
      z-index: 25;
      position: relative;
      width: 100%;
      height: 370px;
    }
    @media(max-width: 600px) {
      height: 320px;
    }
    @media(max-width: $x_4) {
      height: 180px;
    }
  }
  .uber-viz__filter-bar {
    z-index: 101;
  }
}

@import "dc_tooltip";
.land {
  fill: #fff;
  stroke: #87b1c8;
}
#map-bubbles-chart {
  z-index: 99;
}
.map-graphic__component {
  position: absolute;
  top: 0;
}

#world-map {
  z-index: 10;
  height: 420px;
  overflow: hidden;
  transform: translate(27px, 10px);;
}
g.axis {
  display: none;
}
#type-chart {
  position: absolute;
  top: 90px;
  left: -20px;
}
body {
  font-family: $roboto;
  font-weight: normal;
}
h1, h2 , h3, h4, h5, h6 {
  font-family: $open-sans;
  font-weight: 300;
}


.tip {
  max-width: 330px;
  padding: 13px 15px;
  font-family: $open-sans;
  font-weight: 300;
  z-index: 200;

  h4 {
    margin: 0;
    font-size: 18px;
  }
  ul, .bubble-chart__single-tagline {
    font-size: 14px;
    margin: 2px 0;
  }
  ul {
    padding: 0 0 0 17px;
  }
}
.bubble-chart__tooltip-color-bar div {
  height: 5px;
  float: left;
}
.bubble-chart__tooltip-color-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 5px;
}

.fixed-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background-image: url('/images/bg-tile.png');
  background-color: $blue;
  background-size: 30px 60px;
  background-repeat: repeat;
  z-index: -1;
}
.filter-bar {
  font-family: $open-sans;
  font-weight: 300;
  background: $gray;
  box-shadow: $shadow;
  font-size: 16px;

  &__category {
    float: left;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: color 0.2s ease-out;
    padding: 10px 0;
    &:hover, &--selected {
      color: white;
      .filter-bar__category-color {
        height: 100%;
      }
    }
  }
  &__category-color {
    width: 100%;
    height: 4px;
    transition: height 0.2s ease-out;
    position: absolute;
    bottom: 0;
    z-index: 0;
  }
  &__search-box {
    float: left;
  }
  &__category-name, #filter-bar__search-input {
    @media(max-width: $x_t) and (min-width: $x_4) {
      height: 44px;
    }
  }
  &__category, &__search-box {
    @media(max-width: $x_4) {
      width: 100% !important; // override inline style
    }
  }
  &__category-name {
    z-index: 12;
    position: relative;
  }
  #filter-bar__search-input {
    border: none;
    width: 90%;
    text-align: center;
    padding: 10px 5%;
    outline: none;
    &:focus {
      outline: none;
    }
  }
  div.awesomplete {
    width: 100%;
    mark, li[aria-selected=true] mark {
      background: none;
    }
  }
}

.summary-box {
  background: $gray;
  box-shadow: $shadow;
  box-sizing: border-box;
  .incident-card__title {
    font-size: 24px;
    margin: 0 0 16px 0;
    padding-left: 20px;
  }
  p {
    margin: 0 20px 20px 20px;
    width: calc(50% - 40px);
    float: left;
    @media(max-width: $x_4) {
      width: calc(100% - 40px)
    }
  }
}
.dc-grid-label {
  display: none;
}
.incident-card, .dc-grid-item {
  float: left;
  width: 316px;
  margin: 8px;
  box-shadow: $shadow;

  @media(max-width: $x_2) {
    width: calc(33% - 16px);
  }
  @media(max-width: $x_t) {
    width: calc(50% - 16px);
  }
  @media(max-width: $x_4) {
    width: calc(100% - 16px);
  }
}
.incident-card {
  &__top, &__title, &__main {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
  }
  &__top {
    width: 100%;
    font-family: $roboto;
    font-weight: bold;
    color: white;
    font-size: 13px;
    padding-top: 8px;
    padding-bottom: 7px;
    overflow: hidden;
  }
  &__category {
    float: left;
  }
  &__location {
    float: right;
  }
  &__title {
    background: white;
    font-family: $open-sans;
    background: white;
    color: black;
    font-size: 20px;
  }
  &__main {
    background: $gray;
    font-family: $roboto;
    font-weight: normal;
  }
}

.landing {
  &__title {
    font-size: 36px;
    width: 800px;
    margin: 30px auto;
    box-sizing: border-box;
    @media(max-width: 840px) {
      width: 92%;
      margin-left: 4%;
      margin-right: 4%;
    }
    strong {
      font-family: $roboto;
      font-weight: normal;
    }
  }
  &__banner {
    width: 100%;
    height: 280px;
    background-image: image_url('explore-banner.png');
    background-color: $blue;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    font-size: 36px;
    transition: font-size 0.1s ease-in-out;
    &:hover {
      font-size: 40px;
    }
  }
  &__banner-cta {
    margin: 100px auto;
    font-family: $roboto;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 40px $blue,
      0px 0px 35px $blue,
      0px 0px 30px $blue,
      0px 0px 25px $blue,
      0px 0px 20px $blue,
      0px 0px 18px $blue,
      0px 0px 10px $blue,
      0px 0px 5px $blue,
      0px 0px 15px $blue;
  }
  a {
    text-decoration: none;
  }
  &__content {
    width: 620px;
    margin: 60px auto;
    line-height: 1.4em;
    @media(max-width: 640px) {
      width: 92%;
      margin-left: 4%;
      margin-right: 4%;
    }
  }
}
