---
title: Why everyone hates Uber
---
<div class="landing">
  <h1 class="landing__title">
    Why everyone hates <strong>Uber</strong>
    <div class="landing__header-links">
      <a class="landing__header-link" href="/map">Explore the data</a>
      <a class="landing__header-link" 
      href="//actions.sumofus.org/a/uber-ceo-travis-kalanick-has-got-to-go/?source=map">
        Sign the petition
      </a>
    </div>
  </h1>
  <a href="/map" class="landing__banner-link">
    <div class="landing__banner">
      <div class="landing__banner-cta">explore the data</div>
    </div>
  </a>
  <div class="landing__body">
    <div class="landing__content landing__intro">
      <p>
        Over the last few months, public disgust for Uber has reached a fever pitch. As the company lurches from one scandal to another, it almost seems like Uber can't catch a break. But taking a look at the company's behavior over the last few years, it's easy to see why so many people are so angry with Uber. 
      </p>
      <p>
        Far too often, Uber's aggressive expansion plans have led it to bend and even break the law, bully competitors, and mistreat its employees.  In some markets, once Uber has become dominant it jacks up its commissions and bottoms out its fares — often while avoiding the laws and regulations that have kept taxi passengers safe for decades. But the consequences of Uber's callous behavior are finally catching up with it.
      </p>
      <p>
        Through our research, we have identified a seven-step “playbook” for Uber’s pattern of behavior across the globe. You can scroll down to read about it below, or take a closer look at our data on the <a href="/map">interactive map</a>. And when you've had enough, click <a href="//actions.sumofus.org/a/uber-ceo-travis-kalanick-has-got-to-go/?source=map">here</a> to sign our petition calling on Travis Kalanick, the CEO of Uber, to step down.
      </p>
    </div>
    <div class="landing__article" id="playbook">
      <div class="landing__content">
        <h2>The Uber playbook</h2>
        <p>
          There's no denying the convenience of ride-hailing apps, but Uber has chosen to expand its reach in a singularly ruthless manner. Billions of dollars of venture capital financing give Uber the power to use unrealistic pricing to build dependence among customers and drivers. And that financing comes with demands - demands from investors that Uber grow globally at any cost. This has led the company to engage in behavior ranging from the questionable to the outrageous, and repeat its exploits in city after city and country after country.
        </p>
        <p>
          As Uber has disrupted transportation economies around the world, the company's playbook has become clear. By studying its pattern of behavior, we've been able to identify each step in Uber's method for entering, dominating, and exploiting new markets around the globe.
        </p>
        <ol>
          <li>
            <h3>Market entry</h3>
            Far too often, Uber will start to operate in a location without seeking permission from regulators, or complying with local taxi laws. They will insist that their model is not catered to in pre-existing regulations, which therefore cannot be held to apply to them.
          </li>
          <li>
            <h3>Driver recruitment</h3>
            Uber needs a critical mass of drivers on the street in order to provide a usable service to riders. To achieve this, at the outset it offers an attractive deal to drivers, tempting them away from taxi cab firms. Uber uses its size and funding to push fares below the cost of providing a ride, something local tax-paying firms cannot afford to do.
          </li>
          <li>
            <h3>Use riders as a political base</h3>
            By establishing itself before the authorities have time to react, Uber establishes a political support base amongst city-dwellers who value its convenience and relative affordability. PR stunts – such as free rides, presents for riders, or the delivery of everything from ice cream to puppies – cements the company’s appealing image.
          </li>
          <li>
            <h3>Gain political influence the way giant corporations always do</h3>
            Meanwhile, Uber will recruit an army of well-connected and expensive lobbyists to press its case in the local context.
          </li>
          <li>
            <h3>Ignore or fight regulations when possible, settle high risk lawsuits</h3>
            Uber will often fight or ignore regulations until an official crackdown becomes impossible to ignore. The company will pay the fines and costs of drivers arrested for working without a license.  In these instances Uber seems happier to pay the occasional fine rather than change its behavior. In some cases, such as paying for drivers’ insurance, or even a small tax on fares, it can stand to take a hit.
          </li>
          <li>
            <h3>Brush off protests from  competition</h3>
            Local taxi firms are often hit hard by Uber, often seeing a decline in their income of up to or around 50%. Some chose to protest Uber’s behavior and the fact it plays by its own rulebook. Uber sometimes responds to these protests by hiring a private security force.
          </li>
          <li>
            <h3>Reduce fares, increase commission, increase driver numbers</h3>
            Once Uber has established local market dominance, it’s time to turn a profit, and that means cutting fares and increasing its commission. It argues that lower fares, which make rides more frequent, can actually increase drivers’ income by reducing downtime, a phenomenon known as ‘Uber math’. But drivers often report that their earnings have been slashed without consultation, or even warning. The company also recruits more and more drivers – a process which adds to waiting times for drivers, but reduces them for riders, and hence drives down income.
          </li>
        </ol>
        <p>
          And from there, it’s rinse and repeat. Uber is always expanding, and before this process is complete in one location, it’s on to the next.
        </p>
      </div>
    </div>
    <div class="landing__shares-container">
      <div class="landing__shares sticky">
        <h5>Share</h5>
        <a class="landing__share landing__share-fb"></a>
        <a class="landing__share landing__share-tw"></a>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer__top">
    <div class="footer__logo-line">
      <img class="footer__logo" src="<%= image_path('logo-white.png') %>" />
      <div class="footer__tag-line">Fighting for people over profits</div>
    </div>
    <div class="footer__copyright-line">
      © 2017 SumOfUs, Creative Commons Attribution 3.0 Unported License.
    </div>
  </div>
  <div class="footer__links">
    <a class="footer__link" href="/map">See the map</a>
    <a class="footer__link" href="//actions.sumofus.org/a/uber-ceo-travis-kalanick-has-got-to-go/?source=map">
      Sign the petition
    </a>
    <a class="footer__link" href="//www.sumofus.org/about">About us</a>
    <a class="footer__link" href="//www.sumofus.org/contact">Contact</a>
  </div>
</div>
