---
title: Why everyone hates Uber
---
<div class="landing">
  <h1 class="landing__title">Why everyone hates <strong>Uber</strong></h1>
  <a href="/map">
    <div class="landing__banner">
      <div class="landing__banner-cta">explore the data</div>
    </div>
  </a>
  <div class="landing__content">
    <p>
      Everywhere Uber goes, it brings disruption. Some of that disruption is good: it can be easier and cheaper for city-dwellers to get to and from certain parts of town at certain times of day and night. Yet there are downsides too: the incomes of traditional taxi drivers have been hit hard, and Uber drivers, too, were often disappointed to find that their incomes fall sharply once the company has established market dominance in a particular city.
    </p>
    <p>
      "Their play book globally is the same: First break the law – then use billions of dollars of funding to kill the competition through unrealistic and predatory pricing to consumers and massive incentives to drivers. Then if regulators react to any violation of laws, create huge social media campaigns using the consumer base created through subsidised pricing to put pressure on regulators to change the laws.” -Meru Cabs (India)
    </p>
    <p>
      Through our research, we have identified a nine-step “playbook” for Uber’s pattern of behavior across the globe. You can take a closer look at our data collection process on the <a href="/">interactive map</a>.
    </p>
    <p>
      <h2>The Uber playbook</h2>
    <p>
    <ol>
      <li>
        <h3>Market entry</h3>
        In most cases, Uber will start to operate in a location without seeking permission from regulators, or officially clarifying the position. They will insist that their model is not catered for in pre-existing regulations, which can hence not be held to apply to them.
      </li>
      <li>
        <h3>Driver recruitment</h3>
        Uber needs a critical mass of drivers on the street in order to provide a usable service to riders. To achieve this, the outset it offers an attractive deal to drivers, tempting them away from legacy taxi cab firms. Thus, fares are offered at below cost price, effectively funded by a series of multibillion-dollar private investments.
      </li>
      <li>
        <h3>Make riders your political support base</h3>
        By establishing itself before the authorities have time to react, Uber establishes a political support base amongst city-dwellers who value its convenience and relative affordability. PR stunts – such as free rides, presents for riders, or the delivery of everything from ice cream to puppies – cements the company’s appealing image.
      </li>
      <li>
        <h3>Look for political influence in more traditional ways too</h3>
        Uber will meanwhile recruit an army of well-connected local lobbyists to press its case
      </li>
      <li>
        <h3>Ignore and/or fight regulations when possible, settle high risk lawsuits</h3>
        For as long as it can, Uber will fight or ignore regulations, until an official crackdown becomes impossible to ignore. The company will pay the fines and costs of drivers arrested for working without a licence.
      </li>
      <li>
        <h3>Some regulations can be accepted</h3>
        There are certain things Uber won’t give ground on. But in some cases, such as paying for drivers’ insurance, or even a small tax on fares, it can stand to take a hit.
      </li>
      <li>
        <h3>Brush off protests from your competition</h3>
        The legacy taxi industry in each location will be hard-hit, often seeing a decline in their income of up to or around 50%. Legacy taxi drivers will often resort to protests, blocking roads, and in extreme cases, violent protests and attacks on taxi drivers. Uber may set up a rapid response private security force in order to rescue its drivers.
      </li>
      <li>
        <h3>Reduce fares, increase commission, increase driver numbers</h3>
        Once Uber has established local market dominance, it’s time to turn a profit, and that means cutting fares and increasing its commission. It argues that lower fares, which make rides more frequent, can actually increase drivers’ income by reducing downtime, a phenomenon known as ‘Uber math’. But drivers often report that their earnings have been slashed without consultation, or even warning. The company also recruit more and more drivers – a process which adds to waiting times for drivers, but reduces them for riders, and hence drives down income.
      </li>
      <li>
        <h3>Rinse and repeat</h3>
        Uber is always expanding, and before this process is complete in one location, it’s on to the next.
      </li>
    </ol>
    <div class="landing__shares-container">
      <div class="landing__shares sticky">
        <h5>Share</h5>
        <a class="landing__share landing__share-fb"></a>
        <a class="landing__share landing__share-tw"></a>
      </div>
    </div>
  </div>
</div>